.topbarContainer {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #2b35c8;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/* Search bar container */
.searchBar {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

/* Override the default icon size */
.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

/* Style the input field */
.searchInput {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
}

.searchInput:focus {
    width: 300px;
    outline: none;
}

.topbarCenter {
    flex: 5;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* Arrange the icons in a row */
.topbarIcons {
    display: flex;
}

/* Style the icons and the notification badge*/
.topbarIconItem {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}
  
.topbarIconBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
  }

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}